@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #3f4041;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6556CD;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.main-page{
    background-color: #262835;
    background-image: linear-gradient(43deg, #262835 0%, #100e10 46%, #474545 100%);    
}

